= turbo_frame_tag :remote_modal, target: "_top" do
  = tag.div data: { controller: "turbo-modal" }, class: "absolute top-12 inset-x-72 p-8 z-2 bg-white rounded-md" do
    h2 class="font-bold text-2xl" New User
    = render "form", user: @user
